.idea
__pycache__

.vscode
.env

# locally checked out langchain
langchain
**/node_modules
**/package-lock.json

scraper/Dockerfile

# no voice models checked in
ha/voice-models

# working directory for the scraper
scraper/storage
